@page "/encomenda/{id:int}"
@using LI4.Data.Models
@inject NavigationManager NavigationManager
@inject LI4.Data.Services.OrderService OrderService
@inject LI4.Data.Services.StockService StockService

<link rel="stylesheet" href="css/EncomendaId.css" />

<div class="encomenda-container">
    <div class="header">
        <h1 class="titulo">ENCOMENDA #@id</h1>
        <p class="cliente-info">Cliente: <b>@clienteNome</b></p>
    </div>

    <div class="encomenda-info">
        <p>Data prevista de entrega: <b>@dataPrevista</b></p>
        <p>Estado atual: <em>@estadoAtual</em></p>
    </div>

    @if (estadoAtual == "Em espera")
    {
        <div class="produzir-container">
            <button @onclick="ProduzirTodos">Produzir Todos os Produtos</button>
        </div>
    }

    <div class="produtos-list">
        @foreach (var produtoEncomenda in produtosEncomenda)
        {
            var nomeProduto = nomesProdutos.ContainsKey(produtoEncomenda.IdProduto) ? nomesProdutos[produtoEncomenda.IdProduto] : "Desconhecido";

            <div class="produto-item">
                <div class="produto-info">
                    <h3 class="produto-nome">@nomeProduto</h3>
                    <p>Quantidade encomendada: <b>@produtoEncomenda.Quantidade</b></p>
                    <div class="produto-actions">
                        @if (estadoAtual == "Em espera")
                        {
                            <div class="produto-actions">
                                <button @onclick="() => ProduzirProduto(produtoEncomenda.IdProduto)">Produzir</button>
                            </div>
                        }
                        else if (estadoAtual == "Em produção")
                        {
                            <div class="produto-actions">
                                <button @onclick="() => VerLinhaDeMontagem(produtoEncomenda.IdProduto)">Ver Linha de Montagem</button>
                            </div>
                        }
                        else if (estadoAtual == "Entregue")
                        {
                            <span>Produto Entregue</span>
                        }
                    </div>
                </div>
                <div class="produto-image">
                    <img src="assets/casas/@GetImageName(produtoEncomenda.IdProduto)" alt="@produtoEncomenda.IdProduto" />
                </div>
            </div>
        }
    </div>

    <div class="nav-buttons">
        <button @onclick="Voltar">VOLTAR</button>
        @if (estadoAtual != "Entregue")
        {
            <button @onclick="EnviarNotificacao">Enviar notificação</button>
            <button @onclick="EnviarEncomenda">Enviar Encomenda</button>
        }   
    </div>
</div>

@code {
    [Parameter] public int id { get; set; }

    private string dataPrevista;
    private string estadoAtual;
    private int clienteNome;
    private Dictionary<int, string> nomesProdutos = new Dictionary<int, string>(); // Dicionário para armazenar os nomes dos produtos
    private List<Encomenda_tem_Produto> produtosEncomenda = new List<Encomenda_tem_Produto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Obter a encomenda com os produtos
            var encomenda = await OrderService.ListarTodasEncomendasAsync();
            var encomendaSelecionada = encomenda.FirstOrDefault(e => e.Numero == id);

            if (encomendaSelecionada != null)
            {
                clienteNome = encomendaSelecionada.IdCliente;
                dataPrevista = encomendaSelecionada.DataPrevEntrega.ToString("dd/MM/yyyy");
                estadoAtual = encomendaSelecionada.Estado;
                produtosEncomenda = (await OrderService.ListarProdutosPorEncomendaAsync(id))
                    .Select(p => new Encomenda_tem_Produto
                        {
                            Quantidade = p.Quantidade,
                            IdEncomenda = id,
                            IdProduto = p.Id
                        })
                    .ToList();

                foreach (var produto in produtosEncomenda)
                {
                    var nomeProduto = await OrderService.ObterNomeProdutoPorIdAsync(produto.IdProduto);
                    nomesProdutos[produto.IdProduto] = nomeProduto;
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao carregar encomenda: {ex.Message}");
        }
    }

    private async Task ProduzirTodos()
    {
        await OrderService.AtualizarEstadoEncomendaAsync(id, "Em produção");
    }

    private async Task ProduzirProduto(int produtoId)
    {
        if (estadoAtual == "Em espera")
        {
            estadoAtual = "Em produção"; 
            await OrderService.AtualizarEstadoEncomendaAsync(id, estadoAtual);
        }
    }

    private async Task EnviarEncomenda()
    {

        if (estadoAtual != "Entregue")
        {
            estadoAtual = "Entregue";
            var resultadoEncomenda = await OrderService.AtualizarEstadoEncomendaAsync(id, estadoAtual);
            if (resultadoEncomenda == "Estado da encomenda atualizado com sucesso!")
            {
                await StockService.AtualizarStockApósEnvioAsync(produtosEncomenda);
            }
        }
    }

    private void VerLinhaDeMontagem(int produtoId)
    {
        NavigationManager.NavigateTo($"/linhademontagem/{produtoId}/{id}");   // para saber o produto e a encomenda
    }

    private void Voltar()
    {
        NavigationManager.NavigateTo($"/encomendas");
    }

    private void EnviarNotificacao()
    {
        Console.WriteLine("Notificação enviada!");
    }

    private string GetImageName(int idProduto)
    {
        switch (idProduto)
        {
            case 1:
                return "casa1.png";
            case 2:
                return "casa2.png";
            case 3:
                return "casa3.png";
            default:
                return "default.png";
        }
    }
}