@page "/encomenda/{id:int}"
@using LI4.Data.Models
@inject NavigationManager NavigationManager
@inject LI4.Data.Services.OrderService OrderService
@inject LI4.Data.Services.StockService StockService
@inject LI4.Data.Services.ProductionService ProductionService

<link rel="stylesheet" href="css/EncomendaId.css" />

<div class="encomenda-container">
    <div class="header">
        <h2 class="left">Encomenda #@id</h2>
        <h3 class="right">Cliente: @clienteNome</h3> 
    </div>

    <div class="encomenda-info">
        <p>Data prevista de entrega: <b>@dataPrevista</b></p>
        <p>Estado atual: <em>@estadoAtual</em></p>
    </div>

    @if (estadoAtual == "Em espera")
    {
        <div class="produzir-container">
            <button @onclick="VerificarMateriais">Verificar Materiais</button>
        </div>
    }

    @if (verificacaoConcluida)
    {
        @if (podeProduzir)
        {
            <div class="produzir-container">
                <button @onclick="ProduzirTodos">Produzir Todos os Produtos</button>
            </div>
            <ul class="produtos-produziveis">
                @foreach (var produto in produtosProduziveis)
                {
                    <li>Produto @produto.Key: Pode produzir @produto.Value unidade(s)</li>
                }
            </ul>
        }
        else
        {
            <p class="mensagem-erro">@mensagemErro</p>
        }
    }

    <div class="produtos-list">
        @foreach (var produtoEncomenda in produtosEncomenda)
        {
            var nomeProduto = nomesProdutos.ContainsKey(produtoEncomenda.IdProduto) ? nomesProdutos[produtoEncomenda.IdProduto] : "Desconhecido";

            <div class="produto-item">
                <div class="produto-info">
                    <h3 class="produto-nome">@nomeProduto</h3>
                    <p>Quantidade encomendada: <b>@produtoEncomenda.Quantidade</b></p>
                    <div class="produto-actions">
                        @if (estadoAtual == "Em espera")
                        {
                            <div class="produto-actions">
                                <button @onclick="() => ProduzirProduto(produtoEncomenda.IdProduto)">Produzir</button>
                            </div>
                        }
                        else if (estadoAtual == "Em produção")
                        {
                            <div class="produto-actions">
                                <button @onclick="() => VerLinhaDeMontagem(produtoEncomenda.IdProduto)">Ver Linha de Montagem</button>
                            </div>
                        }
                        else if (estadoAtual == "Entregue")
                        {
                            <span>Produto Entregue</span>
                        }
                    </div>
                </div>
                <div class="produto-image">
                    <img src="assets/casas/@GetImageName(produtoEncomenda.IdProduto)" alt="@produtoEncomenda.IdProduto" />
                </div>
            </div>
        }
    </div>

    <div class="nav-buttons">
        <button @onclick="Voltar">VOLTAR</button>
        <button @onclick="MostrarModal">Enviar notificação</button>
        @if (estadoAtual == "Em produção")
        {
            <button @onclick="EnviarEncomenda">Enviar Encomenda</button>
        }   
    </div>
</div>

@if (mostrarModal)
{
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-icon">⚠️</span>
                <h3>Aviso</h3>
            </div>
            <p>Não é possível enviar notificações de momento. </p>
            <button class="modal-close" @onclick="FecharModal">Fechar</button>
        </div>
    </div>
}

@code {
    [Parameter] public int id { get; set; }

    private string dataPrevista;
    private string estadoAtual;
    private string clienteNome="";
    private Dictionary<int, string> nomesProdutos = new Dictionary<int, string>();
    private List<Encomenda_tem_Produto> produtosEncomenda = new List<Encomenda_tem_Produto>();
    private bool verificacaoConcluida = false;
    private bool podeProduzir = false;
    private string mensagemErro;
    private Dictionary<int, int> produtosProduziveis = new();
    private bool mostrarModal = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var encomenda = await OrderService.ListarTodasEncomendasAsync();
            var encomendaSelecionada = encomenda.FirstOrDefault(e => e.Numero == id);

            if (encomendaSelecionada != null)
            {
                var cliente = await OrderService.ObterClientePorIdAsync(encomendaSelecionada.IdCliente);
                clienteNome = cliente.Nome;
                dataPrevista = encomendaSelecionada.DataPrevEntrega.ToString("dd/MM/yyyy");
                estadoAtual = encomendaSelecionada.Estado;
                produtosEncomenda = (await OrderService.ListarProdutosPorEncomendaAsync(id))
                    .Select(p => new Encomenda_tem_Produto
                        {
                            Quantidade = p.Quantidade,
                            IdEncomenda = id,
                            IdProduto = p.Id
                        })
                    .ToList();

                foreach (var produto in produtosEncomenda)
                {
                    var nomeProduto = await OrderService.ObterNomeProdutoPorIdAsync(produto.IdProduto);
                    nomesProdutos[produto.IdProduto] = nomeProduto;
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao carregar encomenda: {ex.Message}");
        }
    }

    private async Task ProduzirTodos()
    {
        await OrderService.AtualizarEstadoEncomendaAsync(id, "Em produção");
    }

    private async Task ProduzirProduto(int produtoId)
    {
        if (estadoAtual == "Em espera")
        {
            estadoAtual = "Em produção"; 
            await OrderService.AtualizarEstadoEncomendaAsync(id, estadoAtual);
        }
    }

    private async Task EnviarEncomenda()
    {
        if (estadoAtual != "Entregue")
        {
            estadoAtual = "Entregue";
            var resultadoEncomenda = await OrderService.AtualizarEstadoEncomendaAsync(id, estadoAtual);
            if (resultadoEncomenda == "Estado da encomenda atualizado com sucesso!")
            {
                await StockService.AtualizarStockApósEnvioAsync(produtosEncomenda);
                var dataAtual = DateTime.Now;
                var sucesso = await OrderService.AtualizarDataEncomendaAsync(id, dataAtual);

                if (sucesso)
                {
                    dataPrevista = dataAtual.ToString("dd/MM/yyyy");
                    Console.WriteLine("Data de entrega atualizada para a data atual!");
                }
                else
                {
                    Console.WriteLine("Erro ao atualizar a data de entrega.");
                }
            }
        }
    }

    private async Task VerificarMateriais()
    {
        var resultado = await ProductionService.VerificarMateriaisParaProducaoAsync(id);
        verificacaoConcluida = true;
        podeProduzir = resultado.PodeProduzir;
        mensagemErro = resultado.Mensagem;
        produtosProduziveis = resultado.ProdutosProduziveis;
    }

    private void VerLinhaDeMontagem(int produtoId)
    {
        NavigationManager.NavigateTo($"/linhademontagem/{produtoId}/{id}");
    }

    private void Voltar()
    {
        NavigationManager.NavigateTo($"/encomendas");
    }

    private void MostrarModal()
    {
        mostrarModal = true;
    }

    private void FecharModal()
    {
        mostrarModal = false;
    }

    private string GetImageName(int idProduto)
    {
        return idProduto switch
        {
            1 => "casa1.png",
            2 => "casa2.png",
            3 => "casa3.png",
            _ => "default.png",
        };
    }
}
